* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e8e8;
}

a {
  color: #1f70c1;
}

.section {
  padding: 2rem 1rem;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.header,
.footer {
  background-color: #1f70c1;
  color: white;
}

.bg-white {
  background-color: #fff;
}

.width-50 {
  width: 50%;
}

.align-items-center {
  align-self: center;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.text-large {
  font-size: 50px;
}

.text-bold {
  font-weight: bold;
}

/* Button */

.primary-button {
  padding: 10px 15px;
  background-color: #1f70c1;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
}

.primary-button:hover {
  background-color: #3595f5;
}

/* Navigation wrapper */

nav {
  background-color: #1f70c1;
  padding: 0.6rem;
  width: 100%;
  position: fixed;
  z-index: 2;
  overflow-y: visible;
}

/* Navigation title - web */

.nav-title {
  display: inline-block;
}

span.Icon--logo {
  color: white;
  position: absolute;
  top: calc(0.6rem * 1.5);
  left: 0.8rem;
}

a.home-link,
a.nav-link {
  text-decoration: none;
}

a.home-link:link,
a.home-link:visited,
.home-text {
  color: white;
  font-weight: 700;
  margin: 0;
  margin-right: 1.2rem;
  margin-left: 2rem;
}

a.home-link:hover,
a.home-link:active {
  color: #97e3ff;
}

span.Icon--caretDown {
  color: white;
  display: none;
}

/* Navigation menu - web */

.nav-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  display: inherit;
  margin-left: 1.2rem;
}

a.nav-link:link,
a.nav-link:visited {
  color: white;
}

a.nav-link:hover,
a.nav-link:active {
  color: #97e3ff;
}

.home-link {
  display: inline-block;
}

.home-text {
  display: none;
}

#extra-mobile-link {
  display: none;
}
