.search {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 50px;
  border: 0;
  display: inline-block;
  width: 100%;
  max-width: 250px;
}

.project-container {
  width: 20%;
}

.project {
  background-color: #e8e8e8;
  margin: 15px;
  min-height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project div > * + * {
  /* go 1 level deep from the target div */
  margin-top: 10px;
}

.project-overflow {
  max-height: 800px;
  overflow: auto;
}
