<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="IBM Developer UK project, workshops and material"
    />
    <meta
      name="keywords"
      content="ibm, open, source, open source, material, workshop"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Page Title -->
    <title>IBM Developer | {{ page.title }}</title>

    <!-- Index CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <!-- Projects CSS -->
    <link rel="stylesheet" type="text/css" href="css/projects.css" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="nav-title">
        <!-- <span class="Icon Icon--logo Icon--large"></span> -->

        <!-- Link in web -->
        <a class="home-link" href="{{ site.baseurl }}/">IBM Developer UK</a>

        <!-- Text in mobile -->
        <p class="home-text">IBM Developer UK</p>
        <span id="caret" class="Icon Icon--caretDown"></span>
      </div>
      <ul class="nav-menu">
        <!-- This link only exists in mobile -->
        <li id="extra-mobile-link" class="nav-list-item">
          <a class="nav-link" href="{{ site.baseurl }}/">IBM Developer UK</a>
        </li>

        <li class="nav-list-item">
          <a class="nav-link" href="{{ site.baseurl }}/projects">Projects</a>
        </li>

        <li class="nav-list-item">
          <a
            class="nav-link"
            href="https://www.meetup.com/IBM-Code-London/"
            target="_blank"
            >Meetup</a
          >
        </li>

        <li class="nav-list-item list-end">
          <a
            class="nav-link"
            href="https://github.com/IBMDeveloperUK"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>

    <!-- Site Wrapper -->
    <div>
      {{ content }}
    </div>

    <footer class="section footer text-center">
      @2020 IBM Developer UK, Inc
    </footer>
  </body>
</html>
